<!-- HTML TEMPLATE FOR SECTION SEARCH - START  -->
<div class="row">

	<span class="section-serach-section-result-section">Section Name 1x1</span>
	<br/>
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 1x1x1</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 1x1x1x1; User Name 1x1x1x2; User Name 1x1x1x3;</span>
		</li>
	</ul>
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 1x1x2</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 1x1x2x1; User Name 1x1x2x2; User Name 1x1x2x3;</span>
		</li>
	</ul>				
	<span class="section-serach-section-result-section">Section Name 1x2</span>
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 1x2x1</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 1x2x1x1; User Name 1x2x1x2; User Name 1x2x1x3;</span>
		</li>
	</ul>
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 1x2x2</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 1x2x2x1; User Name 1x2x2x2; User Name 1x2x2x3;</span>
		</li>
	</ul>
	<span class="section-serach-section-result-volume"><u><i>Volume:</i></u> Volume Name 1</span>
	<br/>
	<span class="section-serach-section-result-issue"><u><i>Issue:</i></u> Issue Name 11</span>
	<br/>		
	
</div>
<hr style="border-top: 3px dashed #eee;" />
<div class="row">	

	<span class="section-serach-section-result-section">Section Name 2x1</span>
	<br/>	
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 2x1x1</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 2x1x1x1; User Name 2x1x1x2; User Name 2x1x1x3;</span>
		</li>
	</ul>
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 2x1x2</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 2x1x2x1; User Name 2x1x2x2; User Name 2x1x2x3;</span>
		</li>
	</ul>				
	<span class="section-serach-section-result-section">Section Name 2x2</span>
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 2x2x1</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 2x2x1x1; User Name 2x2x1x2; User Name 2x2x1x3;</span>
		</li>
	</ul>
	<ul class="section-serach-section-result-article">
		<li>
			<span>Article Name 2x2x2</span>
			<br/>
			<i>Authors: </i><span class="section-serach-section-result-users">User Name 2x2x2x1; User Name 2x2x2x2; User Name 2x2x2x3;</span>
		</li>
	</ul>
	<span class="section-serach-section-result-volume"><u><i>Volume:</i></u> Volume Name 2</span>
	<br/>
	<span class="section-serach-section-result-issue"><u><i>Issue:</i></u> Issue Name 22</span>
	<br/>
	
</div>
<!-- HTML TEMPLATE FOR SECTION SEARCH - END -->