.adminContainer {
	float: left;
	width: 100%;
}
.clear {
	clear:both;
}

.myDragClass {
    /*background: rgba(255, 255, 55, 0.42);*/	
}

.hidden-div {
	display: none;
}

/* Admin: Announcements CRUD - START */
.announcement-view {
    padding-bottom: 30px;
}

.announcement-date-label {
	padding: 0;
    margin: 0;
	font-family: Sofia Pro;
}

.announcement-date-value {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-family: Sofia Pro, sans-serif !important;
}

.announcement-content-value {
	padding: 30px 20px 0px 20px;
    margin: 0;
}
/* Admin: Announcements CRUD - END */

/* Global CSS for ON OFF checbox - START */
.switch {
    cursor: pointer;
    position: relative;
}

    .switch input {
        position: absolute;
        opacity: 0;
        filter: alpha(opacity=0);
    }

        .switch input:checked + span {
            background-color: #60bb46;
        }

            .switch input:checked + span:after {
                left: 31px;
            }

    .switch span {
        position: relative;
        width: 60px;
        height: 30px;
        border-radius: 30px;
        background-color: #fff;
        border: 1px solid #eee;
        border-color: rgba(0,0,0,0.1);
        display: inline-block;
        -webkit-transition: background-color 0.2s;
        transition: background-color 0.2s;
    }

        .switch span:after {
            content: "";
            position: absolute;
            background-color: #fff;
            width: 26px;
            top: 1px;
            bottom: 1px;
            border-radius: 30px;
            -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
            box-shadow: 1px 1px 3px rgba(0,0,0,0.25);
            -webkit-transition: left 0.2s;
            transition: left 0.2s;
        }


    .switch span {
        position: relative;
        width: 50px !important;
        height: 25px !important;
        border-radius: 25px !important;
    }

    .switch input:checked + span:after {
        left: 25px !important;
    }

    .switch span:after {
        width: 22px !important;
        border-radius: 22px !important;
    }

    .switch input:checked + span {
        background-color: #4d90fe !important;
        background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed) !important;
        background-image: -moz-linear-gradient(top,#4d90fe,#4787ed) !important;
        background-image: -ms-linear-gradient(top,#4d90fe,#4787ed) !important;
        background-image: -o-linear-gradient(top,#4d90fe,#4787ed) !important;
        background-image: linear-gradient(top,#4d90fe,#4787ed) !important;
    }

.switch-label label {
    color: #777;
    font-weight: 300;
    margin: 2px 0px 0px 6px;
}

/* Global CSS for ON OFF checbox - END */

.btn-rmv-custom, .btn-brw-custom {
	
}

/* Admin: Volumes CRUD - START */
.fileinput-remove-button {
	padding: 5px 5px !important;
}

.volume-view-image {
	width: 177px;
	border: 1px solid #3e3e3e;
}

.volume-search #w0-filters td:nth-child(4) input {
    display: none;
}
/*.issue-search #w0-filters td:nth-child(4) input,*/
.issue-search #w0-filters td:nth-child(5) input {
    display: none;
}
.issue-search table tbody tr td:nth-child(4) {
    width: 5%;
    text-align: center;
    vertical-align: middle;
}
.issue-form .form-control[readonly] {
    background-color: #FFFFFF;
    opacity: inherit;
}
/* Admin: Volumes CRUD - END */

/* Admin: Issues CRUD - START */
#is_special_issue_container span.bootstrap-switch-handle-on,
#is_special_issue_container span.bootstrap-switch-handle-off,
#is_special_issue_container span.bootstrap-switch-label,
#is_current_container span.bootstrap-switch-handle-on,
#is_current_container span.bootstrap-switch-handle-off,
#is_current_container span.bootstrap-switch-label {
	width: 50px !important;
}

.is_current {
	background: #ABA !important;
}
/* Admin: Issues CRUD - END */

/* Admin: Articles CRUD - START */
.article-update .article-form .field-article-content,
.article-update .article-form .field-article-abstract{
	width: 794px !important;
}
.pdf-h4 {
	text-align: center;
    font-weight: bold;
    font-size: 16px;
}
.article-view table th {
	width: 15%;
}
/* Admin: Articles CRUD - END */