/* Admin: Announcements CRUD - START */
.announcement-view {
    padding-bottom: 30px;
}

.announcement-date-label {
	padding: 0;
    margin: 0;
	font-family: Sofia Pro;
}

.announcement-date-value {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-family: Sofia Pro, sans-serif !important;
}

.announcement-content-value {
	padding: 30px 20px 0px 20px;
    margin: 0;
}

.announcement-front-item {
	color: #466946;
	font-weight: 600;
}
/* Admin: Announcements CRUD - END */