/* Admin: Announcements CRUD - START */
.announcement-view {
    padding-bottom: 30px;
}

.announcement-date-label {
	padding: 0;
    margin: 0;
	font-family: Sofia Pro;
}

.announcement-date-value {
    padding: 0;
    margin: 0;
    font-weight: 700;
    font-family: Sofia Pro, sans-serif !important;
}

.announcement-content-value {
	padding: 30px 20px 0px 20px;
    margin: 0;
}

.announcement-front-item {
	color: #466946;
	font-weight: 600;
}
/* Admin: Announcements CRUD - END */

/* Admin: Users CRUD - START */
#duplicatetrigger {
	cursor: pointer;
}
/* Admin: Users CRUD - END */



/* User: Search page - START */
.serach-section-letters {
	color:#576f57;
	font-size: x-large;
	text-align: center;" 
}
.letter-serach {
	cursor: pointer;
}
.letter-serach-active {
	color: #3ec12e;
}

.serach-section-btn-group {
	padding-left: 0px;
	padding-right: 0px;
}
.serach-section-btn {
	width: 100%;
}
.serach-section-switch {
	text-align:center;
}

.volume-serach-section-result-volume {
	padding-left:10px;
	font-size: 14px;
}
.volume-serach-section-result-issue {
	padding-left:25px;
	font-size: 14px;
}
.volume-serach-section-result-section {
	padding-left:35px;
	font-size: 14px;
	font-style: italic;
}
.volume-serach-section-result-article {
	padding-left:70px;
	font-size: 12px;
}
.volume-serach-section-result-user {
	padding-left:0px;
	font-size: 12px;
	font-style: italic;
}

.issue-serach-section-result-volume {
	padding-left:10px;
	font-size: 14px;
}
.issue-serach-section-result-issue {
	padding-left:10px;
	font-size: 14px;
}
.issue-serach-section-result-section {
	padding-left:25px;
	font-size: 14px;
	font-style: italic;
}
.issue-serach-section-result-article {
	padding-left:35px;
	font-size: 12px;
}
.issue-serach-section-result-users {
	padding-left:0px;
	font-size: 12px;
	font-style: italic;
}

.section-serach-section-result-volume {
	padding-left:10px;
	font-size: 14px;
}
.section-serach-section-result-issue {
	padding-left:10px;
	font-size: 14px;
}
.section-serach-section-result-section {
	padding-left:10px;
	font-size: 14px;
	font-style: italic;
}
.section-serach-section-result-article {
	padding-left:25px;
	font-size: 12px;
}
.section-serach-section-result-users {
	padding-left:0px;
	font-size: 12px;
	font-style: italic;
}

.article-serach-section-result-volume {
	padding-left:25px;
	font-size: 14px;
}
.article-serach-section-result-issue {
	padding-left:25px;
	font-size: 14px;
}
.article-serach-section-result-section {
	padding-left:25px;
	font-size: 14px;
	font-style: italic;
}
.article-serach-section-result-article {
	padding-left:25px;
	font-size: 14px;
}
.article-serach-section-result-users {
	padding-left:0px;
	font-size: 12px;
	font-style: italic;
}

.keyword-serach-section-result-volume {
	padding-left:25px;
	font-size: 14px;
}
.keyword-serach-section-result-issue {
	padding-left:25px;
	font-size: 14px;
}
.keyword-serach-section-result-section {
	padding-left:25px;
	font-size: 14px;
	font-style: italic;
}
.keyword-serach-section-result-article {
	padding-left:25px;
	font-size: 14px;
}
.keyword-serach-section-result-users {
	padding-left:0px;
	font-size: 12px;
	font-style: italic;
}
.keyword-serach-section-result-keyword {
	padding-left:10px;
	font-size: 14px;
}

.user-serach-section-result-volume {
	padding-left:25px;
	font-size: 14px;
}
.user-serach-section-result-issue {
	padding-left:25px;
	font-size: 14px;
}
.user-serach-section-result-section {
	padding-left:25px;
	font-size: 14px;
	font-style: italic;
}
.user-serach-section-result-article {
	padding-left:25px;
	font-size: 14px;
}
.user-serach-section-result-users {
	padding-left:0px;
	font-size: 12px;
	font-style: italic;
}
.user-serach-section-result-user {
	padding-left:10px;
	font-size: 14px;
}

.serach-section-empty-result {
	text-align: center;
	font-size: 20px;
	font-style: italic;
}
/* User: Search page - END */

